<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ECommerce</display-name>
  <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ClientFrontEndLoader</display-name>
    <servlet-name>ClientFrontEndLoader</servlet-name>
    <servlet-class>com.ecom.ClientFrontEndLoader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientFrontEndLoader</servlet-name>
    <url-pattern>/ClientFrontEndLoader</url-pattern>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorSignupHandler</display-name>
    <servlet-name>VendorSignupHandler</servlet-name>
    <servlet-class>com.ecom.VendorSignupHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorSignupHandler</servlet-name>
    <url-pattern>/VendorSignupHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientCheckoutHandler</display-name>
    <servlet-name>ClientCheckoutHandler</servlet-name>
    <servlet-class>com.ecom.ClientCheckoutHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientCheckoutHandler</servlet-name>
    <url-pattern>/ClientCheckoutHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSignupHandler</display-name>
    <servlet-name>AdminSignupHandler</servlet-name>
    <servlet-class>com.ecom.AdminSignupHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSignupHandler</servlet-name>
    <url-pattern>/AdminSignupHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorLoginHandler</display-name>
    <servlet-name>VendorLoginHandler</servlet-name>
    <servlet-class>com.ecom.VendorLoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorLoginHandler</servlet-name>
    <url-pattern>/VendorLoginHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginHandler</display-name>
    <servlet-name>AdminLoginHandler</servlet-name>
    <servlet-class>com.ecom.AdminLoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginHandler</servlet-name>
    <url-pattern>/AdminLoginHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOperationsHandler</display-name>
    <servlet-name>AdminOperationsHandler</servlet-name>
    <servlet-class>com.ecom.AdminOperationsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOperationsHandler</servlet-name>
    <url-pattern>/AdminOperationsHandler</url-pattern>
  </servlet-mapping>
</web-app>